<div class="container" style="margin-top: 30px" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-9" style="padding-left: 0;border-right: 1px solid #dad4d4">
            {% for post in posts %}
            <article class="article-card" style="padding-top: 20px;padding-left: 30px">
                <h4>{{ post.title }}</h4>
                <P>
                    <small>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span style="color:#8C8C8C;">发表于{{ moment(post.timestamp).format('YYYY年M月D日, hh:mm:ss a') }}</span>
                    </small>
                    <small>
                        <span class="pull-right">{{ moment(post.timestamp).fromNow() }}</span>
                    </small>
                </P>
                <div class="post-body">
                    {{ post.body | safe }}
                </div>
                <footer style="background-color: white;margin-top: 5px;font-size: 14px">
                    <a href="{{ url_for('main.show_category_post', category=post.category) }}">
                        <span><small>{{ post.category }}</small></span>
                    </a>
                    <a href="{{ url_for('main.post', id=post.id) }}#comments">
                        <span><small>评论 {{ post.comments.count() }}</small></span>
                    </a>
                    <a href="{{ url_for('main.post', id=post.id) }}" style="float: right;color: #1abc9c">
                        <img src="../static/readmore.png"> <small>阅读全文>></small>
                    </a>
                </footer>
            </article>
            {% endfor %}
        </div>
        <div class="col-md-3 pull-right">
            <div class="article-card">
                <div style="font-size: 16px;border-bottom: 1px solid #dad4d4;padding: 0 0 10px 0">
                <strong><span><img src="../static/category.png"></span> 文章分类</strong>
                </div>
                <ul style="list-style-type: none;padding-left: 0;line-height: 2.5em;margin-top: 10px;">
                    <li>
                        <a href="{{ url_for('main.show_category_post', category='Python') }}" style="">
                            Python
                        <span class="badge text-right" style="float:right">
                        {{ Post.query.filter_by(category='Python').count() }}</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.show_category_post', category='Flask') }}">
                            Flask</a>
                        <span class="badge text-right" style="float:right">
                        {{ Post.query.filter_by(category='Flask').count() }}</span>
                    </li>
                    <li>
                        <a href="{{ url_for('main.show_category_post', category='HTML&CSS') }}">
                            HTML&CSS</a>
                        <span class="badge text-right" style="float:right">
                        {{ Post.query.filter_by(category='HTML&CSS').count() }}</span>
                    </li>
                    <li>
                        <a href="{{ url_for('main.show_category_post', category='算法') }}">
                            算法</a>
                        <span class="badge text-right" style="float:right">
                        {{ Post.query.filter_by(category='算法').count() }}</span>
                    </li>
                    <li>
                        <a href="{{ url_for('main.show_category_post', category='数据库') }}">
                            数据库</a>
                        <span class="badge text-right" style="float:right">
                        {{ Post.query.filter_by(category='数据库').count() }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>