<div class="container" style="display: table">
  <div class="row" style="display: table-row">
    <article class="main-post col-md-9" style="display: table-cell">
      <ul class="posts list-unstyled">
    {% for post in posts%}
	<li class="post">
	    <!--div class="profile-thumbnail">
		    <a href="{{url_for('main.user', username=post.author.username)}}">
			    <img class="img-rounded profile-thumbnail" src="{{post.author.gravatar(size=40)}}"/>
			</a>
		</div-->
        <div class="title"><h2>{{ post.title }}</h2></div>
		<div class="post-date">{{moment(post.timestamp).fromNow()}}</div>
		<div class="post-author">
            <a href="{{ url_for('.user', username=post.author.username) }}">
            {{ post.author.username }}
            </a>
            发表于{{ moment(post.timestamp).format('YYYY年M月D日, hh:mm:ss a') }}
        </div>
        <div class="post-body">
		    {% if post.body_html %}
			    {{post.body_html | safe }}
			{% else %}
			    {{post.body}}
			{% endif %}
		</div>
		<div class="post-content">
            <div class="post-footer">
                <a href="/"><span class="label label-default">{{ post.category }}</span></a>
                <a href="{{ url_for('.post', id=post.id) }}"><span class="label label-info">阅读全文</span></a>
				{% if current_user == post.author %}
				    <a href="{{ url_for('.edit_post', id=post.id) }}"><span class="label label-primary">修改</span></a>
				{% elif current_user.is_administrator()%}
				    <a href="{{ url_for('.edit_post', id=post.id) }}"><span class="label label-danger">修改[管理员]</span></a>
				{% endif %}
				<a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} 评论</span>
                </a>
            </div>
        </div>
	</li>
	{% endfor %}
  </ul>
    </article>
    <!--
    <div class="col-md-4 right-slider" style="display: table-cell;margin-top: 19px">
          <h3>What is CondoGrade?</h3>
          <p>CondoGrade provides a rating and detailed financial reports about condo associations.</p>
          <p>Buyers use our tools to make smarter decisions about their next condo purchase.</p>
          <p>Remember:</p>
          <ul>
              <li>Buildings need maintenence.</li>
              <li>Budgets need to be accurate.</li>
              <li>You could end up paying.</li>
          </ul>
      </div>
    <div class="col-md-4 right-slider" style="display: table-cell;margin-top: 19px">
          <h3>What is CondoGrade?</h3>
          <p>CondoGrade provides a rating and detailed financial reports about condo associations.</p>
          <p>Buyers use our tools to make smarter decisions about their next condo purchase.</p>
          <p>Remember:</p>
          <ul>
              <li>Buildings need maintenence.</li>
              <li>Budgets need to be accurate.</li>
              <li>You could end up paying.</li>
          </ul>
      </div>
    -->
      <div class="col-md-3 right-slider" style="display: table-cell;margin-top: 19px">
          <ul style="list-style-type: none">
              <li style="color: #e67e22">
              <P style="line-height: 1.72222">
              <a style="color: #e67e22" href="{{ url_for('main.show_category_post', category='Python') }}">
              <span>>Python </span>
              </a>
              <span class="badge text-right" style="float:right">{{ Post.query.filter_by(category='Python').count() }}</span>
              </p>
              </li>
              <li style="color: #e67e22">
              <P style="line-height: 1.72222">
              <a style="color: #e67e22" href="{{ url_for('main.show_category_post', category='Flask') }}">
              <span>>Flask </span>
              </a>
              <span class="badge text-right" style="float:right">{{ Post.query.filter_by(category='Flask').count() }}</span>
              </p>
              </li>
              <li style="color: #e67e22">
              <P style="line-height: 1.72222">
              <a style="color: #e67e22" href="{{ url_for('main.show_category_post', category='HTML&CSS') }}">
              <span>>HTML&CSS </span>
              <span class="badge text-right" style="float:right">{{ Post.query.filter_by(category='HTML&CSS').count() }}</span>
              </a>
              </p>
              </li>
              <li style="color: #e67e22">
              <P style="line-height: 1.72222">
              <a style="color: #e67e22" href="{{ url_for('main.show_category_post', category='算法') }}">
              <span>>算法 </span>
              <span class="badge text-right" style="float:right">{{ Post.query.filter_by(category='算法').count() }}</span>
              </a>
              </p>
              </li>
              <li style="color: #e67e22">
              <P style="line-height: 1.72222">
              <a style="color: #e67e22" href="{{ url_for('main.show_category_post', category='数据库') }}">
              <span>>数据库 </span>
              <span class="badge text-right" style="float:right">{{ Post.query.filter_by(category='数据库').count() }}</span>
              </a>
              </p>
              </li>
          </ul>

      </div>
  </div>
</div>