{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}
{% block title %}Index{% endblock title %}
{% block page_content %}

<div class='page-head' style="margin-left: 25px">
    <h1>欢迎回来 {% if current_user.is_authenticated %}{{current_user.username}} {% else %}{% endif %}</h1>
</div>
{% if current_user.can(Permission.WRITE_ARTICLES) %}
<div style="margin-top: 25px;margin-left: 25px">
    {{wtf.quick_form(form,method='post')}}
</div>
{% endif %}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_followed %}  class="active" {% endif %} ><a href="{{ url_for('main.show_all') }}">全部文章</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('main.show_followed_posts') }}">关注者文章</a></li>
        {% endif %}
    </ul>
    {% include '_post.html' %}
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, "main.index")}}
</div>
{% endblock page_content %}

{% block scripts %}
{{super()}}
{{pagedown.include_pagedown()}}
<script>
$(document).ready(function(){
$(".post-body").each(function()
{
 var maxwidth=150;
 if($(this).text().length>maxwidth){
 $(this).text($(this).text().substring(0,maxwidth));
$(this).html($(this).html()+"...");
}
});
 });
</script>
{% endblock scripts %}