{% extends "base.html" %}
{% import '_macros_for_username.html' as macros %}

{% block page_content %}
<h4 style="margin-left: 30px">个人资料：{{user.username}}!</h4>

<table class="table table-bordered table-striped" style="width:50%;margin-left: 30px">
  <tbody>
      <tr>
          <td>用户名</td>
          <td>{{ user.username }}</td>
      </tr>
      <tr>
          <td>邮箱</td>
          <td>{{ user.email }}</td>
      </tr>
      <tr>
          <td>地址</td>
          <td>{{ user.location }}</td>
      </tr>
      <tr>
          <td>注册时间</td>
          <td>{{ moment(user.member_since).format('LLL') }}</td>
      </tr>
  </tbody>
</table>

<!--
{% if current_user.is_administrator() %}
<p><a class="btn btn-default" style="color: red" href="{{url_for('main.edit_profile_admin', id=user.id)}}">Edit profile(Admin)</a></p>
{% endif %}    
{% if user == current_user and not current_user.is_administrator() %}
<p><a class="btn btn-default" style="color: green" href="{{url_for('main.edit_profile')}}">Edit profile</a></p>
{% endif %}

<p>
{% if user.name %} {{user.name}} {% endif %}
{% if user.location %} From {{user.location}} {% endif %}
</p>
{% if current_user.is_administrator %}
<p>
<a href='mailto:{{user.email}}'>{{user.email}}</a>
</p>
{% endif %}
{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
<p>
Member since {{moment(user.member_since).format('LLL')}}.<br>
Last seen {{moment(user.last_seen).fromNow()}}.
</p>
{% if current_user.can(Permission.FOLLOW) and user != current_user %}
    {% if not current_user.is_following(user) %}
        <a href="{{ url_for('.follow', username=user.username) }}"class="btn btn-primary">Follow</a>
    {% else %}
        <a href="{{ url_for('.unfollow', username=user.username) }}"class="btn btn-default">Unfollow</a>
    {% endif %}
{% endif %}
<a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count()-1 }}</span></a>
<a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.followed.count()-1 }}</span></a>
{% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
<span class="label label-default">Follows you</span>
{% endif %}
-->


<h4 style="margin-top: 40px;margin-left: 30px">{{user.username}}的文章：</h4>
{% include '_post.html'%}
<div style="margin-left: 200px ">
    {{ macros.pagination_widget(pagination, "main.user", username)}}
</div>
{% endblock page_content %}