{% extends 'base.html' %}
{% block title %}修改密码-西楼{% endblock title %}

{% block page_content %}
<div class = 'page-header'>
    <h4>修改密码</h4>
</div>
<form role="form" method="post" style="width: 50%">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.oldpassword.label(class='form-label h6') }}
        {{ form.oldpassword(class='form-control', placeholder='输入旧密码') }}
        {% for error in form.oldpassword.errors %}
            <span class="help-block" style="color: #f8545b">
                <img src="../../static/icon/icon_wrong.png" style="width: 13px;height:13px"> {{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label(class='form-label h6') }}
        {{ form.password(class='form-control', placeholder='输入新密码') }}
        {% for error in form.password.errors %}
            <span class="help-block" style="color: #f8545b">
                <img src="../../static/icon/icon_wrong.png" style="width: 13px;height:13px"> {{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password2.label(class='form-label h6') }}
        {{ form.password2(class='form-control', placeholder='再次输入新密码') }}
        {% for error in form.password2.errors %}
            <span class="help-block" style="color: #f8545b">
                <img src="../../static/icon/icon_wrong.png" style="width: 13px;height:13px"> {{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class='btn btn-primary',style='margin-bottom:25px') }}
</form>

{% endblock page_content %}